.our-color {
  color: orange;
}

.buy-now-button {
  background-color: #90aa28;
  outline: 0;
  border: 0;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 10px;
}

.minimum-width{
    width:300px;
}